<!-- Navigation -->
          <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              <a class="navbar-brand" href="/home">Advertiser Analytics</a> </div>
            <!-- Top Menu Items -->
            <div class="top-title">Welcome <strong>{{event.profileData.fname}}</strong>, You have 3 notifications</div>
            <ul class="nav navbar-right top-nav">
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="images/ger-icon.png" alt="user"/></a>
                <ul class="dropdown-menu">
                  <li class="icon-drop"></li>
                  <li> <a href="/profile"><i class="fa fa-fw fa-user"></i> Profile</a> </li>

                </ul>
              </li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle my-dropdown" data-toggle="dropdown"><img src="images/bell-icon.png" alt="bell"/></a>
                <ul class="dropdown-menu alert-dropdown">
                  <li class="icon-drop"></li>
                  <li> <a href="#">Dr Alexander John, Dental Surgeon, has applied to your job posting.<span>2 hours ago</span></a> </li>
                  <li> <a href="#">Dr Alexander John, Dental Surgeon, has applied to your job posting.<span>2 hours ago</span></a> </li>
                </ul>
              </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav side-nav">
                <li class="admin-pic"> <img src="images/Oval 1.png" alt="ovel" />
                  <h4>Paul Langdon</h4>
                  <p>Admin</p>
                </li>
                  <li><a href="/home"><span class="sclicons" style="font-size:20px;color:whitesmoke"><i class="fa fa-home"></i></span> Home</a> </li>
                  <li><a href="/home"><span class="sclicons" style="font-size:20px;color:whitesmoke"><i class="fa fa-home"></i></span> Analytics</a> </li>
                  <li>

                        <a data-toggle="dropdown"><span class="sclicons" style="font-size:20px;color:whitesmoke"> <i class="fa fa-tachometer"></i></span> Events Dashboard</a>
                        <ul class="dropdown-menu">
                          <li><a href="/eventDashboard">Geographics</a></li>
                          <li><a href="/eventDemographics">Demographics</a></li>
                        </ul>
                  </li> 

                     <!-- <a href="/events"><span class="sclicons" style="font-size:20px;color:whitesmoke"> <i class="fa fa-tachometer"></i></span> Events Dashboard</a> </li>-->
                  <li> <a href="reports.html"><span class="sclicons" style="font-size:20px;color:whitesmoke"> <i class="fa fa-lightbulb-o"></i>  </span>Insights</a> </li>

              </ul>
            </div>
            <!-- /.navbar-collapse --> 
          </nav>