<div class="container-fluid" ng-controller="profileCtrl as profile">
    <div id="wrapper"> 
  
      <!-- Navigation -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand" href="index.html">Advertiser Analytics</a> </div>
        <!-- Top Menu Items -->
        <div class="top-title">Welcome <strong>{{profile.profileData.fname}}</strong>, You have 3 notifications</div>
        <ul class="nav navbar-right top-nav">
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="images/ger-icon.png" alt="user"/></a>
            <ul class="dropdown-menu">
              <li class="icon-drop"></li>
              <li> <a href="/profile"><i class="fa fa-fw fa-user"></i> Profile</a> </li>

            </ul>
          </li>
          <li class="dropdown"> <a href="#" class="dropdown-toggle my-dropdown" data-toggle="dropdown"><img src="images/bell-icon.png" alt="bell"/></a>
            <ul class="dropdown-menu alert-dropdown">
              <li class="icon-drop"></li>
              <li> <a href="#">Dr Alexander John, Dental Surgeon, has applied to your job posting.<span>2 hours ago</span></a> </li>
              <li> <a href="#">Dr Alexander John, Dental Surgeon, has applied to your job posting.<span>2 hours ago</span></a> </li>
            </ul>
          </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li class="admin-pic"> <img src="images/Oval 1.png" alt="ovel" />
              <h4>Paul Langdon</h4>
              <p>Admin</p>
            </li>
              <li><a href="/home"><span class="sclicons" style="font-size:20px;color:whitesmoke"><i class="fa fa-home"></i></span> Home</a> </li>
              <li>
               
                    <a data-toggle="dropdown"><span class="sclicons" style="font-size:20px;color:whitesmoke"> <i class="fa fa-tachometer"></i></span> Events Dashboard</a>
                    <ul class="dropdown-menu">
                       <li><a href="/events">Search Events</a></li>
                      <li><a href="/eventDashboard">Geographics</a></li>
                      <li><a href="/eventDemographics">Demographics</a></li>
                    </ul>
              </li> 
                  
                 <!-- <a href="/events"><span class="sclicons" style="font-size:20px;color:whitesmoke"> <i class="fa fa-tachometer"></i></span> Events Dashboard</a> </li>-->
              <li> <a href="reports.html"><span class="sclicons" style="font-size:20px;color:whitesmoke"> <i class="fa fa-lightbulb-o"></i>  </span>Insights</a> </li>

          </ul>
        </div>
        <!-- /.navbar-collapse --> 
      </nav>
      <div id="page-wrapper" style="padding-right:0px;padding-left:0px;">
        
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 top-hr">
        </div>
        <div class="clear"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="login-form login-form-02">
                <form ng-submit="profile.updateProfile()">
                  <div class="form-group col-md-6 text-center" align="center">
                      
                    <input type="text" class="form-control text-center" placeholder="Enter your First Name" 
                           value="profile.profileData.fname" ng-model="profile.profileData.fname">
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control text-center" placeholder="Enter your Last Name" 
                           value="profile.profileData.lname" ng-model="profile.profileData.lname">
                  </div>
                  <div class="form-group col-md-8" align="center">
                    <input type="email" class="form-control text-center" placeholder="Enter your Email address" 
                           ng-model="profile.profileData.email" readonly>
                  </div>
                    <div class="form-group col-md-7">
                    <input type="password" class="form-control col-md-2 text-center" placeholder="Change Your Password" 
                           ng-model="profile.profileData.password">
                    </div>
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control col-md-2 text-center" placeholder="Age" 
                           ng-model="profile.profileData.age">
                    </div>
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control col-md-3 text-center" placeholder="Gender" 
                           ng-model="profile.profileData.gender">
                 </div>
                  <div class="form-group col-md-4">
                    <input type="text" class="form-control col-md-2 text-center" placeholder="State" 
                           ng-model="profile.profileData.state"/>
                    </div>
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control col-md-2 text-center" placeholder="Ciy" 
                           ng-model="profile.profileData.city"/>
                    </div>
                    <div class="form-group col-md-4">
                    <input type="text" class="form-control col-md-3 text-center" placeholder="Country" 
                           ng-model="profile.profileData.country"/>
                  </div>
                    <!--<label for="Interests"> Interests: </label>
                  <select class="form-control" ng-model="profile.profileData.interest" ng-options="interests.name for interests in interests">
                            </select>-->
                    <div class="form-group col-md-10 " >
                        <div class="col-md-4" ng-repeat="interest in interests">
                            
                            <label style="font-size:14px;" for="{{interest.category_name}}">
                                <input id="{{interest.category_name}}" type="checkbox" value="{{interest.category_name}}" ng-checked="selection.indexOf(interest.category_name) > -1" ng-click="toggleSelection(interest.category_name)" /> {{interest.category_name}}
                            </label>
                                
                        </div>
                    </div>
                    <br/><br/>
                    <!--<div class="form-group">
                        <span style="color:black;">Selected Items:<span>
                        <div class="col-md-3" ng-repeat="name in selection" class="form-control">
                        {{name}}
                        </div>
                    </div>-->
                  <button class="btn bg-btn-green log-in-btn" type="submit" >Update Profile</button>
                </form>
                <!-- form end -->
            </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <!-- /#page-wrapper --> 

    </div>
<!-- /#wrapper --> 
</div>